<link rel="stylesheet" href="estilo.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="desafio">
    <!-- 1) Iniciar a execução do efeito usando botão.
    "encolher para cada camada de setInterval. Use a div abaixo
    com id "efeito" para associar as classes CSS. -->
    <h2>#01</h2>
    <div>
        <button @click="iniciarEfeito">Iniciar Efeito</button>
        <div id="efeito" :class="classe1"></div>
    </div>

    <!-- 2) Crie duas classes CSS e associe a div usando a
    sintae de array -->
    <h2>#02</h2>
    <div :class="[{perigo}, 'quadrado' ]">Estou sem classes CSS :(</div>

    <!-- 3) Aplique na div abaixo a classe informada (crie classes CSS de exemplo). -->
    <h2>#03</h2>
    <div>
        <input type="text" v-model="class3">
        <div :class="class3"></div>
    </div>

    <!-- 4) Aplique na div a baixo a classe informada pelo usuario
         outra classe usando o valor true/false (crie classes css de exemplo)-->
    <h2>#04</h2>
    <div>
        <input type="text" v-model="class4">
        <input type="text" @input="setPerigo">
        <div :class="[class4, {perigo}]"></div>

    </div>
    <!-- 4) Repita 3) mas usando estilos ao invés de classes CSS
        Aassocie os estilos a dive abaixo-->
    <h2>#05</h2>
    <div>
        <input type="text" v-model="cor5">
        <div :style="[estilo5, {backgroundColor: cor5}]"></div>

    </div>
    <!-- Crie uma barra de progresso simples com setInterval e binding de estilo-->
    <h2>#06</h2>
    <div>
        <button @click="iniciarProgresso">Iniciar</button>
        <div class="barra-progresso">
            <div class="progresso" :style="{width}"></div>
        </div>

    </div>
</div>


<script src="app.js"></script>